@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
	/*basic color scheme */
	--body-color: #E4E9F7;
	--sidebar-color: #FFF;
	--primary-color: #695CFE;
	--primary-color-light: #F6F5FF;
	--toggle-color: #DDD;
	--text-color: #000000;
	/* basic color scheme */

	/* accessories */
	--progress-complete: #01C472;
	--progress-left: #E4E9F7;
	--input-wrong: #f20c14;
    --input-right: #10b06d;
	--input-mid: #efff00;
	/* accessories */

	--primary3-color: #B8B3FE;
	--primary4-color: #B4AEFE;
	--primary2-color: #8A81FE;

	/* transitions */
	--trans-02: all 0.2s ease;
	--trans-03: all 0.3s ease;
	--trans-04: all 0.4s ease;
	--trans-05: all 0.5s ease;
	/* transitions */
}

body.dark {
    /* dark color scheme */
    --body-color: #18191A;
    --sidebar-color: #242526;
    --primary-color: #6528e0;
    --primary-color-light: #3A3B3C;
    --toggle-color: #FFF;
    --text-color: #000000;
	--primary3-color: #3e109b;
	--progress-complete: #016b3f;
}

[data-theme="dark"] {
		/* dark color scheme */
		--body-color: #18191A;
		--sidebar-color: #242526;
		--primary-color: #6528e0;
		--primary-color-light: #3A3B3C;
		--toggle-color: #FFF;
		--text-color: #ffffff;
		--primary3-color: #FFF;
		--progress-complete: #6528e0;
}

* {
	box-sizing: border-box;
	border: none;
	margin: 0px;
	padding: 0px;
	font-family: 'Lato', sans-serif;
	font-size: 17px;
	border-radius: 6px;
}

#page-header-container {
	grid-column-start: 1;
	grid-column-end: 3;
}	

#page-header {
	font-size: 3rem;
	font-weight: bolder;
}

body {
	background-attachment: fixed;
    background-image: linear-gradient(to bottom right,var(--primary3-color),var(--body-color)); 
}

a {
	all:unset;
	cursor:pointer;
}

.flex {
	display: flex;
}

.grid {
	display: grid;
}

#content-grid {
	grid-template-columns: 1fr 2fr;
	grid-auto-rows: auto;
}

.content-container {
	flex-direction:column;
	margin: 1rem;
	background-color: var(--sidebar-color);
	padding: 1rem;
}

.content {
	padding: 0.5rem;
}

#progress-container {
	flex-direction: row;
	height: max-content;
	padding: 2rem;
	gap: 1rem;
	justify-content: space-evenly;
}

.progress-header {
	text-align: center;
	margin: 1rem;
}

.progress-bar {
	height: 10em;
	width: 10rem;
	border-radius: 50%;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
}

.progress-text {
	width: 100%;
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
}

td,th {
	padding: 1rem;
	color: var(--primary-color-light);
}

th {
	background-color: var(--primary2-color);
	color: var(--primary-color-light);
}

td {
	background-color: var(--primary3-color);
}

.header {
	font-size: 2rem;
	padding: 0.5rem;
}

.slider {
	outline:none;
	height:25px;
	width: 80%;
	margin: 1rem;
	align-self: center;
	appearance:none;
	height: 0.5rem;
	border-radius: 6px;
/*	background:linear-gradient(to left, var(--input-right), var(--input-mid), var(--input-wrong));*/
	background: var(--sidebar-color);
	accent-color: var(--primary-color);
}

.slider::-webkit-slider-thumb, .slider::-moz-range-thumb {
	appearance:none;
	width: 1rem;
	height: 1rem;
	cursor: pointer;
	outline:none;
	background-color: var(--primary2-color);
	border-radius: 50%;
}

.slider::-moz-range-track {
	height: 0.5rem;
	border: 3px solid var(--primary2-color);
	border-radius: 6px;
}

.slider::-moz-range-progress {
	background-color: var(--primary2-color);
	height: 0.5rem;
	border-radius: 6px;
}

.slider-gradation {
	align-self: center;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows:max-content;
	width: 80%;
}

.slider-gradation option {
	text-align: center;
}
