@import url('config.css');
@import url('home-side.css');

#contentdiv {
	background-color: var(--light-color);

	margin: 1em 1em;
	margin-top: 1em;
	padding: 1rem;
}

#pfp {
	height: 20em;
	border-radius: 10em;
	margin-left: 2em;
}

#basic-det {
	flex-wrap:wrap;
}

#maindetdiv {
	padding: 2rem;
	margin-left: 2em;
	gap: 2rem;
	flex-direction:column;
}

#name {
	font-weight:bold;
	font-size: 3rem;
	width: 100%;
	margin: auto;
	text-align: left;
}

.maindet {
	font-weight:normal;
	font-size: 2rem;
	width: 100%;
	text-align: left;
}

.title {
	font-weight: bold;
	font-size: 2rem;
	margin: auto;
	background-color: var(--light3-color);
	color: var(--light-color);
	padding: 1rem;
	margin-top: 1em;
	margin-bottom: 0.5em;
}

.content-flex {
	flex-wrap:wrap;
	margin: 2em;
	width: auto;
	gap: 1rem;
	row-gap: 2rem;
	justify-content:space-between;
}

.item {
	width:fit-content;
}


.content {
	font-size: 1.5rem;
	margin: 0px 0.5rem;
	padding: 1rem;
}

.label {
	color: darkslategrey;
}

#oldpass {
	grid-column-start: 1;
	grid-column-end: 3;
}

.content input {
	height: 100%;
	padding: 0.1rem;
	border: 2px solid var(--light2-color);
	border-radius: 6px;
	outline: none;
	width: 15em;
	max-width: 25vw;
}

#subm {
	width: 10em;
	padding: 0.5rem;
	background-color: var(--brand-color);
	color: var(--light-color);
}

#subm:hover {
	background-color: var(--brand-color-dark);
	transition: .4s;
}

#subm-wrapper {
	width: 100%;
	justify-content:right;
}

#criteria {
	margin-left: 2rem;
}

.verified {
	color: var(--input-right);
}

.unverified {
	color: var(--input-wrong);
}


