@import url('config.css');

* {
//	border: 1px solid black;
}

#sem-grid {
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-auto-rows: 23vi;
	gap: 1rem;
	margin: 1rem;
}

.sem-container {
	display: flex;
	flex-direction:column;
	justify-content: space-evenly;
	background-color: var(--sidebar-color);
	opacity: 0.8;
	transition: 0.4s;
}

.sem-text {
	text-align: center;
	font-size: 2.5rem;
	font-weight: bold;
	font-variant:small-caps;
}

.sem-container:hover {
	opacity: 1;
}


